 body {
        background-color: #be9dbc;
        font-family: "lato", Geneva, Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: #150b0b;
        letter-spacing: inherit;
    }
   
      